controllerManager:
  manager:
    debug: false
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: ghcr.io/theonlyway/recycler
      tag: latest@sha256:76f0ba7da3e09199aed9c721429b1f5c326d67fa1e8563ae8cda2ee821a8f839
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
    env:
      - name: KUBERNETES_CLUSTER_DOMAIN
        value: cluster.local
  podSecurityContext:
    runAsNonRoot: true
  replicas: 1
  serviceAccount:
    annotations: {}
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
