controllerManager:
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
  recycler:
    args:
    - --leader-elect
    - --metrics-bind-address=:8443
    - --health-probe-bind-address=:8081
    - --zap-log-level=1
    - --zap-devel=true
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: ghcr.io/theonlyway/recycler
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
  tolerations: []
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ""
